@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');

.bin_info_container {
    display: flex;
    height: 300px;
    width: 400px;
    margin-top: 20px;
    margin-left: 170px;
}

.bin_input_name {
    height: 60px;
    width: 532px;
    border: solid 1px #AB2A19;
    border-radius: 3px;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 10px;
    padding-left: 10px;
    
}

.bin_input_price {
    height: 60px;
    width: 500px;
    border: solid 1px #AB2A19;
    border-radius: 3px;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 10px;
    padding-left: 42px;
    
}

.bin_img {
    height: 230px;
    margin-top: 15px;
}

.input_bars_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 570px;
    justify-content: flex-start;
}

.input_bars_container p {
    margin-left: 20px;
    margin-bottom: 3px;
    font-weight: bold;
    font-size: 18px;
}

.input_bars_container span {
    position: relative;
    left: 35px;
    top: 53px;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    margin-top: -40px;
}

.bin_button_container {
    display: flex;
    justify-content: space-between;
    width: 540px;

}

.edit_button {
    height: 60px;
    width: 170px;
    margin: 20px;
    font-size: 26px;
    font-family: 'Open Sans', sans-serif;
    background: #D8D8D8;
    border: none;
    border-radius: 3px;
}

.delete_button {
    height: 60px;
    width: 170px;
    margin-top: 20px;
    font-size: 26px;
    font-family: 'Open Sans', sans-serif;
    background: #D8D8D8;
    border: none;
    border-radius: 3px;
}

.input_button_container {
    margin-left: 10px;
}