@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
.bin_header_root {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
    width: 100%;
    background: #ED6B5A;
}

.bin_header_root p {
    font-size: 30px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-left: 20px;
}

.bin_header_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 504px;
    height: 100px;
    background: #D34735;
    text-decoration: underline #D34735;
}

.bin_logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 100px;
    background: #AB2A19;
}

.bin_header_logo {
    height: 50px;
    
}

.bin_header_container p {
    font-size: 30px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-left: 20px;
}